<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="selenium.grid.tests.ChromeOnGridTests"/>
      <class name="assignment.ddt.tests.HeaderTests"/>
      <class name="assignment.ddt.tests.MenuTests"/>
      <class name="assignment.ddt.tests.DashboardPageTests"/>
      <class name="assignments.ddt.pages.RequirementsPage"/>
      <class name="assignment.ddt.tests.VerifyLoginTests"/>
      <class name="assignment.pom.Tests.Testing"/>
      <class name="assignment.ddt.tests.ValidLoginTests"/>
      <class name="assignments.ddt.pages.BaseClassPage"/>
      <class name="assignment.ddt.tests.FormTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
